p{
    text-align: center;
    color: brown;
    font-size: 50px;
}

img {
    max-width: 100%;
        border-radius: 10px;
        display: block;
        margin: 30px 0;
        margin: 30px auto;
}

body {
background: pink;
}

a{
    text-align:center;
}